streamlit
pandas
googletrans==4.0.0-rc1
numpy
python-docx
requests
json5
pandas-profiling==3.2.0
Pillow
pytesseract==0.3.10
tabulate
opencv-python-headless
fuzzywuzzy
openpyxl
xlrd
pdf2image
PyMuPDF
streamlit-lottie
python-Levenshtein
tesserocr
imutils


